:root {
  --rose: #a97a83; /* header background-color */
  --dark-sienna: #381119; /* header font-color*/
  --rose-white: #f9f6f7; /*body background-color */
  --smoky-black: #16070a; /*text font-color */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 10px;
  color: var(--smoky-black);
}

h2 {
  font-size: 4rem;
  text-align: center;
  padding: 1rem;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: justify;
}

ion-icon {
  font-size: 1.8rem;
  color: var(--dark-sienna);
}

/* Header*/
.title-container {
  padding: 5rem 0;
}

.main-header {
  text-align: center;
  color: var(--dark-sienna);
  height: 15rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--rose);
}

/* Main body */

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--rose-white);
}

.main-container {
  max-width: 120rem;
  width: 100%;
  display: flex;
  margin: auto;
  flex: 1;
}

.footer {
  width: 100%;
  /* height: 3rem; */
  background-color: var(--rose);
}

.footer-txt {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.6rem;
}

.article-img {
  width: 60rem;
  display: block;
  margin: auto;
  padding: 1rem;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex: 1;
  padding: 6rem;
  align-content: start;
}

.post-card {
  outline: 1px solid purple;
  height: 20rem;
  display: grid;
  place-items: center;
  padding: 1rem;
  transition: all 0.3s ease;
}

.post-card > ul {
  /* margin: auto; */
  width: 100%;
  outline: 1px solid purple;
}

.post-card > ul > li {
  list-style: none;
  font-size: 1.5rem;
  text-align: start;
  padding: 0.5rem;
  white-space: nowrap;
}
