<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link	rel="stylesheet" href="main-layout.css"/>
    <title>Document</title>
  </head>
  <body>
		<div class="app-container">

			<header class="header">
				<h1>Nina's learning journey</h1>
			</header>
			<div class="main-container clamp">
				<aside class="sidebar">
					<div class="profileCard">
						<div class="profileCard-header">
							<img class="profileCard-avatar" src="https://store.playstation.com/store/api/chihiro/00_09_000/container/AR/es/99/UP0151-CUSA09971_00-AV00000000000004/0/image?_version=00_09_000&platform=chihiro&bg_color=000000&opacity=100&w=720&h=720" alt="profile avatar"/>
						</div>
						<div class="profileCard-body">
							Hello
						</div>
					</div>
				</aside>
				<main class="main-content">
					<div class="tile-container">
						<div class="tile"></div>
						<div class="tile"></div>
						<div class="tile"></div>
						<div class="tile"></div>
						<div class="tile"></div>
						<div class="tile"></div>
					</div>	
				</main>
			</div>
			<footer class="footer">
				<div class="clamp text-center">&copy;2021</div>
			</footer>
		</body>
	</div>
</html>
