:root {
  --purple: #9333ea; /* header background-color */
  --light-purple: #faf5ff; /* header font-color and main background*/
  --dark-purple: #1d0a2f; /*text font-color */
  --fuchsia: #a21caf; /*icon and image color*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
  color: var(--dark-purple);
}

ion-icon {
  font-size: 1.8rem;
  color: var(--fuchsia);
}

/* Header*/
.title-container {
  padding: 3rem 0;
  text-align: center;
  color: var(--light-purple);
  /* height: 10rem; */
  font-size: 2rem;
}

.main-heading {
  font-size: 3.5rem;
  text-align: center;
  color: var(--light-purple);
}

.home-link {
  color: var(--light-purple);
  text-decoration: none;
  font-size: 2rem;
}

.home-link:hover {
  color: var(--dark-purple);
}
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--purple);
}

/* Main body */

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--light-purple);
}

.main-container {
  max-width: 120rem;
  width: 100%;
  margin: auto;
  /* outline: 1px solid rebeccapurple; */
}

.article-container > h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
}

.article-container > p {
  margin: 1.5rem auto;
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: left;
  max-width: 80rem;
}

.article-container {
  padding: 4rem 0;
}

.article-img {
  width: 60rem;
  display: block;
  margin: auto;
  padding: 1rem;
}

.footer {
  text-align: center;
  background-color: var(--purple);
  padding: 1rem;
}

.footer-txt {
  color: var(--light-purple);
  font-size: 1rem;
}
