:root {
  --purple: #9333ea; /* header background-color */
  --light-purple: #faf5ff; /* header font-color and main background*/
  --dark-purple: #1d0a2f; /*text font-color */
  --fuchsia: #a21caf; /*icon and image color*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 10px;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

ion-icon {
  font-size: 3rem;
  color: var(--fuchsia);
}

ion-icon:hover {
  color: var(--purple);
}

/* Header*/
.title-container {
  padding: 5rem 0;
  text-align: center;
  color: var(--light-purple);
  font-size: 2rem;
}

.main-header {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--purple);
}

/* Main body */

.container {
  margin: 0 auto;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: var(--light-purple);
}

.main-container {
  max-width: 120rem;
  width: 100%;
  display: flex;
  margin: auto;
  flex: 1;
}

main > h2 {
  font-size: 2rem;
  text-align: center;
  padding: 10rem;
}

/* Sidebar */

.sidebar {
  padding: 2rem;
  display: flex;
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.profile-card {
  /* outline: 1px solid red; */
  max-width: 120rem;
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
  flex: 1;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.profile-card > p {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  padding: 1rem;
}
/* Main content */

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex: 1;
  padding: 2rem;
  align-content: start;
}

.post-card {
  /* outline: 1px solid purple; */
  height: 30rem;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.post-card-img {
  height: 8rem;
  border-radius: 1rem;
}

.post-card-link {
  font-size: 2rem;
  text-decoration: none;
  color: #381119;
}

.post-card-link:hover {
  color: var(--purple);
}

.footer {
  width: 100%;
  text-align: center;
  background-color: var(--purple);
  padding: 1rem;
}

.footer-txt {
  color: var(--light-purple);
  font-size: 1rem;
}

/* Media queries */

@media (min-width: 320px) {
  .title-container {
    padding: 3rem 0;
  }

  .title-container > h1 {
    font-size: 2.2rem;
    text-align: center;
    color: var(--light-purple);
  }

  .main-header {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--purple);
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    flex: 1;
    padding: 2rem;
    align-content: start;
  }

  .sidebar {
    /* display: flex; */
    display: grid;
    flex: 1;
    place-items: center;
    padding: 2rem;
  }

  .profile-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .profile-card {
    /* outline: 1px solid red; */
    max-width: 30rem;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); */
  }

  .profile-card > p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 480px) {
  .main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    flex: 1;
    padding: 2rem;
    align-content: start;
  }

  .sidebar {
    /* display: flex; */
    display: grid;
    flex: 1;
    place-items: center;
    padding: 2rem;
  }

  .profile-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .profile-card {
    /* outline: 1px solid red; */
    max-width: 50rem;
    display: grid;
    place-items: center;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); */
  }

  .profile-card > p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) {
  .title-container {
    padding: 5rem 0;
    /* text-align: center; */
    /* color: var(--light-purple); */
    /* font-size: 4rem; */
  }

  .title-container > h1 {
    /* outline: 1px solid red; */
    font-size: 4rem;
    text-align: center;
    color: var(--light-purple);
  }

  .main-header {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--purple);
  }
  /* .title-container {
    padding: 2rem 0;
  }

  

  /* .main-header {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--purple);
  } */

  .sidebar {
    /* display: flex; */
    display: grid;
    flex: 1;
    place-items: center;
    /* padding: 2rem; */
  }

  .profile-img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }

  .profile-card {
    /* outline: 1px solid red; */
    max-width: 120rem;
    width: 100%;
    height: 30rem;
    display: grid;
    place-items: center;
    /* padding: 1rem 1.5rem; */
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  }

  .profile-card > p {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2rem;
    flex: 1;
    padding: 2rem;
    align-content: start;
  }
}
