:root {
  --purple: #9333ea; /* header background-color */
  --light-purple: #faf5ff; /* header font-color and main background*/
  --dark-purple: #1d0a2f; /*text font-color */
  --fuchsia: #a21caf; /*icon and image color*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 10px;
  color: var(--dark-purple);
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

ion-icon {
  font-size: 3rem;
  color: var(--fuchsia);
}

.list-icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin: 0;
  padding: 0;
}

/* Header*/
.title-container {
  padding: 5rem 0;
  text-align: center;
  color: var(--light-purple);
  font-size: 2rem;
}

.main-header {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--purple);
}

/* Main body */

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--light-purple);
}

.main-container {
  max-width: 120rem;
  width: 100%;
  display: flex;
  margin: auto;
  flex: 1;
}

main > h2 {
  font-size: 2rem;
  text-align: center;
  padding: 10rem;
}

/* Sidebar */

.sidebar {
  padding: 2rem;
}

.profile-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.profile-card {
  /* outline: 1px solid red; */
  max-width: 20rem;
  display: grid;
  place-items: center;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.icon-container {
  display: flex;
  gap: 2rem;
}

.icon-container > a {
  text-decoration: none;
}

.profile-card > h4 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
/* Main content */

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex: 1;
  padding: 2rem;
  align-content: start;
}

.post-card {
  /* outline: 1px solid purple; */
  height: 30rem;
  display: grid;
  place-items: center;
  padding: 1rem;
  transition: all 0.3s ease;
}

.post-card:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: white;
}

.post-card-img {
  height: 8rem;

  border-radius: 1rem;
}

.post-card-link {
  font-size: 2rem;
  text-decoration: none;
  color: #381119;
}

.post-card-link:hover {
  color: var(--rose);
}

/* .footer {
  height: 3rem;
  width: 100%;
  background-color: var(--rose);
  position: relative;
} */

.footer {
  width: 100%;
  text-align: center;
  background-color: #9333ea;
  padding: 1rem;
}

.footer-txt {
  color: #faf5ff;
  font-size: 1rem;
}
